$black-color: #1f2228;
$white: #fdfdfd;
$roch: 'Rochester';

@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Rochester&display=swap');
.nav {
	background-color: $black-color;
	padding: 20px 40px;
	display: flex;
	flex-direction: column;
	z-index: 999;
	position: fixed;
	width: 100%;
	@media (max-width: '425px') {
		padding: 20px;
	}
	.nav_main {
		display: flex;
		justify-content: space-between;
		.logo {
			font-family: $roch;
			font-size: 25px;
		}
	}
	ul {
		padding: 0px 15%;
		list-style: none;
		margin: 0;

		.nav_links {
            text-decoration: none;
            a{

                color:#fdfdfd;
                text-decoration: none;
                font-family: $roch;
                font-size: 82px;
				@media(max-width:425px){
					font-size: 60px;
				}
            }
		}
	}
	.nav__socials{
		.socials{
			display: flex;
			justify-content: center;
			.socials__link{
				padding: 0 20px;
			}
		}
	}
}
