$roboto: 'Roboto Serif';
.about {
	padding: 2% 10%;
    background-color: #1F2228;
    @media(max-width:768px){
        padding: 3% 5%;
    }
	.about__details {
		font-family: $roboto;
		.about__title {
			display: flex;
            align-items: center;
            h3{
                font-size: 30px;
                font-family: "Roboto";
                font-weight: bold;
                margin-right: 10px;
            }
			div {
				height: 2px;
				width: 50%;
				background-color: #c4c4c4;
                @media(max-width: 450px){
                    width: 200px
                }
			}
		}
        .about__p{
            font-family: "Roboto";
            font-size: 20px;
            margin-top: 30px;
            @media(max-width:1024px){
                margin-top: 20px;
                font-size: 16px;
            }
            @media(max-width:768px){
                margin-top: 15px;
                font-size: 14px;
            }
            
        }
        .about__motto{
            font-size: 90px;
            font-family: "Roboto";
            font-weight: bold;
            margin-top: 80px;
            @media(max-width:1024px){
                font-size: 70px;
                margin-top: 30px;
            }
            @media(max-width:768px){
                font-size: 50px;
                margin-top: 30px;
            }
            @media(max-width:425px){
                font-size: 50px;
                margin-bottom: 50px;
                margin-top: 50px;
                text-align: center;
            }

        }
	}
    .about_image{
        .image__large{
            width: 100%;
            @media(max-width:425px){
                display: none;
            }
        }
        .image__small{
            display: none;
            @media(max-width:425px){
                display: block;
                margin: auto;
            }
        }
    }
}
