$roboto: 'Roboto Serif';
.project {
	padding: 8% 10%;
	background-color: #1f2228;
	@media (max-width: 768px) {
		padding: 3% 5%;
	}
	.project__section {
		margin-bottom: 15%;
		.project__titleEven{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: row-reverse;
			gap: 10px;
			@media(max-width: 425px){
				flex-direction: row;
			}
			h3 {
				font-size: 30px;
				font-family: 'Roboto';
				font-weight: bold;
				margin-right: 10px;
				@media(max-width: 425px){
					font-size: 25px;
				}			}
			div {
				height: 2px;
				width: 50%;
				background-color: #c4c4c4;
				font-size: 14px;
				@media (max-width: 450px) {
					width: 100px;
				}
			}
		}
		.project__title {
			display: flex;
			align-items: center;
			gap:10px;
			h3 {
				font-size: 30px;
				font-family: 'Roboto';
				font-weight: bold;
				@media(max-width: 425px){
					font-size: 25px;
				}	
			}
			div {
				height: 2px;
				width: 50%;
				background-color: #c4c4c4;
				font-size: 14px;
				@media (max-width: 450px) {
					width: 100px;
				}
			}
		}
	}
}
