@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Rochester&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;900&display=swap");
.App {
	background-color: #000;
	height: 100vh;
	color: #fdfdfd;
	font-size: 16px;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #1f2228;
}
.loader__img {
}
