
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Rochester&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.App{
  background-color: #1F2228;
  height: 100vh;
  color: #FDFDFD;
  font-size: 16px;
}